body {
	background-color: lightblue;
}

div{
	background-color: whitesmoke;
	margin: 10px;
	width: 25%
}

div{
	border: solid 2px black;
	padding: 10px;
}

h1, h3, span{
	font-weight: bold;
	text-align: center;
}

h1{
    font-size: 40pt;

	color: white;
	text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

ol{
	list-style: decimal inside; 
}

div.header, div.gems{
	background-color: whitesmoke;
}

div.header, div.instructions{
	width: 50%;
}

.numberToMatch, .winsAndLosses{
	float: left;
	width: 15%;
	height: 60px;
}

.userTotal{
	width: 15%;
	height: 60px;
}

.gems{
	clear: both;
}

.gemImage{
	height: 60px;
	margin: 10px;
}

footer {
	font-size: 12px;
}